.content-full {
    margin-left: 70px;
    width: 90%;
    .header {
        width: 100%;
        .admin {
            margin-right: 100px;
            width: 120px;
            height: 30px;
            background-color: white;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            img {
                width: 26px;
                height: 26px;
                border-radius: 50%;
            }
        }
    }
    .content {
        width: 100%;
        display: flex;
        gap: 10px;
        .list-option {
            width: 200px;
            height: 100%;
            background-color: black;
            padding: 10px;
            .new-item {
                width: 100%;
                height: 30px;
                background-color: white;
                text-align: center;
                font-weight: 700;
            }
            .dark {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
            .dropdown-menu-custom {
                background-color: black !important;
                color: white !important;
                border: 1px solid #444;
              
                .dropdown-item {
                  background-color: black !important;
                  color: white !important;
              
                  &:hover,
                  &:focus {
                    background-color: #444 !important;
                    color: white !important;
                  }
                }
              }
              
        }
        .content-right {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            .list-price {
                width: 100%;
                padding: 18px;
                display: flex;
                justify-content: space-between;
                gap: 10px;
                .total-sdires {
                    width: 180px;
                    background-color: bisque;
                    border-radius: 6px;
                    padding: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;
                    .fa-fontSize {
                        font-size: 30px;
                    }
                }
            }
            .form {
                width: 100%;
                padding: 20px;
                background-color: beige;
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }
    }
}