.header {
    .logo{
        color: aquamarine;
    }
    .navigation {
        .home{
            color: green;
        }
        .about {
            color: red;
        }
        .contact{
            color: black;
        }
    }
}
