* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.full-backgroud {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header {
  width: 82%;
  height: 40px;
  padding: 30px;
  background-color: rgb(255, 187, 0);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  font-size: 18px;
  display: flex;
  gap: 20px;
}

.header-right {
  font-size: 26px;
  cursor: pointer;
  display: flex;
}

.cirle {
  width: 18px;
  height: 18px;
  position: relative;
  right: 12px;
  bottom: 8px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin-top: 20px;
  width: 90%;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.product {
  width: 200px;
  height: 300px;
  border: 1px solid gray;
  padding: 4px;
  background-color: rgb(247, 247, 247);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.img {
  width: 80%;
  height: 100px;
}

img {
  width: 80%;
}

h4 {
  font-size: 15px;
}

.infoProduct {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.addCart {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: rgb(67, 67, 255);
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  gap: 4px;
}

.tableCart {
  width: 300px;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 76px;
  left: 670px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: scale(1.3);
}

.crossbar {
  width: 100%;
  height: 1px;
  background-color: grey;
}

.productList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.imgCrile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.infoPhone {
  width: 120px;
}

.upDown {
  display: flex;
  gap: 5px;
}

.upDown button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.btn {
  width: 20px;
  height: 20px;
  background-color: black;
  color: red;
  border: 0px;
  cursor: pointer;
}


