.background {
    width: 700px;
    height: 400px;
    background-color: antiquewhite;
    color: black;
}

.header02 {
    width: 100%;
    height: 36px;
    background-color: rgb(180, 183, 183);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    width: 100%;
    height: 26px;
    background-color: rgb(105, 104, 104);
    display: flex;
    align-items: center;
    justify-content: center;
}

.body02 {
    width: 100%;
    display: flex;
}

.menu02 {
    width: 22%;
    height: 338px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content02 {
    width: 56%;
    height: 338px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.row {
    display: flex;
    gap: 20px;
}

.cart {
    width: 70px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article {
    width: 22%;
    height: 338px;
    background-color: rgb(66, 174, 224);
    display: flex;
    align-items: center;
    justify-content: center;
}