.bai12 {
    display: flex;
    gap: 30px;
}

.content {
    width: 250px;
    height: 30px;
    position: 'relative';
    top: '10px';
    right: '10px';
    background: '#f0f0f0';
    padding: '10px';
    border-Radius: '5px';
    box-Shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnX {
    cursor: 'pointer'
}