.boxList {
    display: flex;
    gap: 16px;
}

.box {
    width: 200px;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1 {
    background-color: red;
}

.box-2 {
    background-color: blue;
}

.box-3 {
    background-color: green;
}